*, body{
	margin:0;
	padding:0; 
	font-family: sans-serif;
}

#titleH1{
	text-align:center;
	margin-top:10%;
	font-size:25pt;
	color: #3B6F9E;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form, .jumbotron{
	background:#3B6F9E;
	color:#fff;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	background:#3B6F9E;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
	background:#3B6F9E;
}
.navbar-nav>li>.dropdown-menu{
	background:#3B6F9E;
}
.navbar-header{
	background:#3B6F9E;
}
.navbar-brand img{
	width:auto;
	height:100%;
}
.workflowBox .form-inline label{
	display:block;
	height:34px;
	line-height:34px;
}
.btn-space {
    margin-right: 5px;
}
.butMar{
	margin-top:10%;
}

/*************************** Datatables CSS ************************/
/* Structure */
.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-size: 20px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-header-cell .mat-sort-header-sorted {
  color: black;
}
