/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

.logo{
    padding: 13px 10px 13px;
}
header{
    position: inherit;
}
header, .logo{
    background: #468CC8;
}
header.container-fluid *, ul.navbar-nav li a{
    color:#fff !important;
}
.content > .container-fluid{
    padding: 5px 20px;
}
.navbar-toggle .icon-bar{
    background:#fff;
}
ul.dropdown-menu{
    background: #468CC8;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    background: #3B6F9E;
}
.app-search .form-control, .app-search .form-control:focus{
    background:#fff;
    color: #2F353F !important;
}	
.navbar-nav{
    display: flex;
    flex-direction: inherit;
}
.navbar-nav .dropdown-menu{
    position: absolute;
}

@media(max-width: 767px){
    .top-menu .open .dropdown-menu{
        background: #468CC8;
    }
}